@import "tailwindcss";

html{
  background-color: #ECECEC;
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
}

.force-rubik {
  font-family: 'Rubik 80s Fade', cursive !important;
  font-weight: normal !important;
}