@import "tailwindcss";

@font-face {
  font-family: 'Rubik 80s Fade';
  src: url('/fonts/rubik-80s-fade.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

.force-rubik {
  font-family: 'Rubik 80s Fade', cursive !important;
  font-weight: normal !important;
}