/* Import fonts */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #ECECEC;
}

html.dark {
  background-color: #1E1E1E;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: #0A0F0D;
  background-color: #ECECEC;
}

html.dark body {
  color: #e0e4ff;
  background-color: #1E1E1E;
}

@layer utilities {
  .font-space {
    font-family: 'Space Grotesk', sans-serif;
  }
  .font-rubik80s {
    font-family: 'Rubik 80s Fade', Arial, Helvetica, sans-serif;
  }
}

.force-rubik {
  font-family: 'Rubik 80s Fade', Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 700px) and (max-width: 1100px) {
  .hero-section .hero-text {
    font-size: 4rem;
    line-height: 1.1;
  }
}